{% load static %}
<html>
    <head>
        <title>Vlada's blog</title>
        <!-- To install Bootstrap you need to add the following lines to the <head> of your .html file 
        This will not add any files to your project. These lines simply indicate files published on the Internet. -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- We just told our template where our CSS file is -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!-- customize the font of our header, this line imports a font called Lobster from Google Fonts -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Django Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>